.leaderboard {
  margin-top: 60px;
  text-align: left;
  margin-bottom: 112px;
  max-width: 420px;
  padding: 10px;
}

.leaderboard h2 {
  font-family: "COINY", sans-serif; 
  color: white;
  font-size: 42px;
  text-align: center;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  font-size: 18px;
  margin: 5px 0;
}

 .belo {
  display: flex;
  gap: 10px;
  align-items: center;
 border: 2px  solid  aliceblue;
  padding: 7px;
  color: black;
  background-color: white;
  font-weight: 700;
  border-radius: 15px;
}

.belo p{
font-size: 14px;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block img {
 width: 38px;
 height: 38px;
}

.block h3{
  text-align: center;
  color: white;
  }

  .block h3 p{
    color:  #34C924;
    font-size: 28px;
    }

    .plus  {
      font-size: 16px;
      text-align: center;
      color: white;
    }

    .plus b {
      color:  #34C924;
    }

    .vse {
      color: white;
    }