/* App.module.scss */



body {
  display: flex;
  flex-direction: column;
background-color: black;
background-image:   url("./assets/IrS.gif");
background-repeat: no-repeat;
background-size: contain;
}

:root{
  font-family: "COINY", sans-serif; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
  font-family: "COINY", sans-serif; 
}

.countrySelection {
  margin-top: 20px;
}

.countrySelection select {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none !important; 
  outline: none !important; 
}
button:where {
  background: transparent !important;
    border-color: none !important;
    color: rgba(0, 0, 0, 0.88) !important;
    box-shadow: none !important;
}

p {
  font-size: 18px;
}

.menu {
  width: 85%;
padding: 5px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  position: fixed;
  bottom: 0;
  left: 52%;
  transform: translateX(-55%);
  background: #0c0c0c;
  z-index: 100;
  -webkit-box-shadow: 10px 10px 62px 14px rgb(255 255 255);
  -moz-box-shadow: 10px 10px 62px 14px rgb(255 255 255);
  box-shadow: 10px 10px 62px 14px rgb(255 255 255);
  border-radius: 15px;
margin-left: 10px;
margin-right: 10px;
  margin-bottom: 30px;
}

.menu .btn {
  width: 40px;
  height: 40px;
  font-size: 32px;
  border-color: none !important;
  border: 0 !important;
  border: none;
}

.menu img {
  width: 60px;
  height: 40px;
  opacity: 50%;
}

.icon {
  font-size: 32px !important;
}

.btn:hover {
  color: #f0c419 !important;
  border-color: none !important;
  border: 0 !important;
}

.invisible {
  visibility: hidden;
}

.clickButton {
  height: 200px;
    max-width: 255px;
}

.clickButton:active {
  position: relative;
}

.clickButton:focus-visible {
  outline: none;
}

.clickButton img:focus-visible {
  outline: none;

}

.clickButton:active::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/meteor.png);
  /* background-color: red; */
  left: 80%;
  top: 50%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: meteor-animation 0.2s ease-in-out;
}

.clickButton img {
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 50px;
  transition: transform 0.1s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
.clickButton img:active {
  animation: click-animation 0.1s ease;
}


@keyframes click-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes meteor-animation {
  0% {
    left: 60%;
  }


  100% {
    left: 50%;
  }
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.scoreTitle {
color: white;
}

.scoreImg {
  width: 20%;
  height: 20%;
}

.x5 {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.822);
  border-radius: 20px;
  color:  #34C924;
  column-gap: 5px;
}

.x5 img {
  width: 30px;
  height: 20px;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  width: 100px;
    max-width: 100%;
}

.menuBtn p {
  font-family: "COINY", sans-serif; 
font-size: 14px;
}

.menuBtnAir {
  row-gap: 0px;
  opacity: 50%;
}

.not1 {
  font-size: 16px;
}

.fuckingMain {
  display: flex;
    flex-direction: column;
    align-items: center;
}